#alura-logo {
    width: 120px;
    height: 48px;
}

/* alura-icon {
    height: 300px;
    width: 304px;
    margin-top: 283px;
    margin-left: 1032px;
} */

.container-box-1 {
    position: absolute;
    height: 300px;
    width: 304px;
    padding: 10px 40px 10px 10px;
    margin-top: 70px;
    margin-left: 940px;
}

.title {
    color: #0A3871;
    font-size: 32px;
}

.informativo-1 {
    color: #495057;
    font-size: 12px;
}

#informativo-2 {
    color: #343A40;
    font-size: 24px;
}

.informativo-3 {
    color: #495057;
    font-size: 16px;
}
