body {
    background: #F3F5FC;
}

header h1 img {
    width: 120px;
    height: 48px;
    position: absolute;
    left: 40px;
    top: 40px;
}

.encriptar-texto {
    position: absolute;
    top: 168px;
    left: 240px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

.texto-a-encriptar {
    padding-right: 250px;
    padding-bottom: 200px;
}

.imagen-alerta {
    position: absolute;
    bottom: 130px;
    left: 250px;
}

.solo-letras {
    position: absolute;
    margin-bottom: 10px;
    bottom: 123px;
    margin-left: 270px;
}

.boton-encriptar {
    position: absolute;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 20px;
    width: 280px;
    height: 50px;
    bottom: 70px;
    left: 250px;
}

.boton-desencriptar {
    position: absolute;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    width: 280px;
    height: 50px;
    border-radius: 20px;
    bottom: 70px;
    left: 545px;
}

.botones .boton-encriptar {
    color: #FFFFFF;
}

.botones .boton-desencriptar {
    color: #0A3871;
}

#lista {
    background: #FFFFFF;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 30px 10px 210px 10px;
    margin-top: 22px;
    margin-right: 30px;
}

.imagen {
    width: 280px;
    border: 1px solid red;
    display: inline-block;
    margin-top: 120px;
    position: relative;
    top: 0px;
    right: 0px;
}

.mensaje-no-encontrado {
    border: 1px solid red;
    display: inline-block;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    top: 420px;
    left: 80px;
    right: 80px;
}

.ingresar-mensaje {
    border: 1px solid red;
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 460px;
    left: 0px;
}


/*
border: 1px solid black
display...
margin (top-right-bottom-left)
padding (...---...)
height
width
position
vertical-align
background
background-color (recuadro de mensaje no encontrado)...
text-transform
color
text-align
font-size
font-weight
text-decoration
*/


