header img {
    width: 120px;
    height: 48px;
    position: relative;
    border: 1px solid red;
    left: 40px;
    top: 40px;
}

.ingresar-texto {
    color: #0A3871;
    font-size: 34px;
    font-weight: bold;
    display: inline;
    position: absolute;
    left: 220px;
    top: 168px;
    border: 1px solid red;
}

.solo-letras {
    color: #495057;
    font-size: 12px;
    border: 1px solid red;
    display: inline-block;
    position: relative;
    left: 180px;
    top: -20px;
}

.boton-encriptar {
    display: inline;
}

.boton-desencriptar {
    display: inline;
}



