body {
    background: #F3F5FC;
}

header h1 img {
    width: 120px;
    height: 48px;
    position: absolute;
    left: 40px;
    top: 40px;
}

.encriptar-texto {
    position: absolute;
    top: 168px;
    left: 240px;
}

#lista {
    background: #FFFFFF;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 30px 10px 210px 10px;
    margin-top: 22px;
    margin-right: 30px;
}

.imagen {
    width: 280px;
    border: 1px solid red;
    display: inline-block;
    margin-top: 120px;
    position: relative;
    top: 0px;
    right: 0px;
}

.mensaje-no-encontrado {
    border: 1px solid red;
    display: inline-block;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    top: 420px;
    left: 80px;
    right: 80px;
}

.ingresar-mensaje {
    border: 1px solid red;
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 460px;
    left: 0px;
}

/* .ingresar-texto {
    color: #0A3871;
    font-size: 34px;
    font-weight: bold;
    display: inline;
    position: absolute;
    left: 220px;
    top: 168px;
    border: 1px solid red;
}

.solo-letras {
    color: #495057;
    font-size: 12px;
    border: 1px solid red;
    display: inline-block;
    position: relative;
    left: 180px;
    top: -20px;
}

.boton-encriptar {
    display: inline-block;
}

.boton-desencriptar {
    display: inline-block;
} */

/*
border: 1px solid black
display...
margin (top-right-bottom-left)
padding (...---...)
height
width
position
vertical-align
background
background-color (recuadro de mensaje no encontrado)...
text-transform
color
text-align
font-size
font-weight
text-decoration
*/


