body {
    background: #e5e5e5;
}

header h1 img {
    width: 120px;
    height: 48px;
    position: absolute;
    left: 40px;
    top: 40px;
}

.encriptar-texto {
    position: absolute;
    top: 168px;
    left: 240px;
}

.total-lista {
    border: 1px solid red;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 30px 10px 180px 10px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.imagen {
    border: 1px solid red;
    position: relative;
    left: 30px;
}

.mensaje-no-encontrado {
    border: 1px solid red;
    text-align: center;
    margin: 10px 32px;
    padding: 10px 2px;
}

.ingresar-mensaje {
    border: 1px solid red;
    text-align: center;
    margin: 10px 32px;
}

/* .ingresar-texto {
    color: #0A3871;
    font-size: 34px;
    font-weight: bold;
    display: inline;
    position: absolute;
    left: 220px;
    top: 168px;
    border: 1px solid red;
}

.solo-letras {
    color: #495057;
    font-size: 12px;
    border: 1px solid red;
    display: inline-block;
    position: relative;
    left: 180px;
    top: -20px;
}

.boton-encriptar {
    display: inline-block;
}

.boton-desencriptar {
    display: inline-block;
} */

/*
border: 1px solid black
display...
margin (top-right-bottom-left)
padding (...---...)
height
width
position
vertical-align
background
background-color (recuadro de mensaje no encontrado)...
text-transform
color
text-align
font-size
font-weight
text-decoration
*/


